@model List<Movie>

@foreach (Movie m in Model)
{
    <h2>Title: @m.title</h2>
    <h2>Release Date: @m.release_date</h2>
    <h2>Runtime: @m.runtime</h2>

    <a>
        <button asp-action="Favorite" class="button1">Remove from Favorites</button>
    </a>
}
